.grid_col_300 {
    width: 300px;
    display:inline-grid;
}

.grid_col_400 {
    width: 400px;
    display:inline-grid;
}

.grid_col_600 {
    width: 600px;
    display:inline-grid;
}

.top_bar_title {
    width: 100%;
    text-align: center;
}

.top_bar_exit {
    width: 100px;
    text-align: center;
}

body .ui-datatable thead th {
    padding: 8px !important;
    font-size: 12px;
}