.grid_col_300 {
    width: 300px;
    display:inline-grid;
}

.grid_col_400 {
    width: 400px;
    display:inline-grid;
}

.grid_col_600 {
    width: 600px;
    display:inline-grid;
}

body .ui-datatable thead th {
    padding: 8px !important;
    font-size: 12px;
}